# Semantic Function Species (part 2)

In [1]:
from scripts.imports import *

out = Exporter(
    paths['outdir'], 
    'semantics'
)

In [2]:
df.columns

Index(['verse', 'book', 'booksuper', 'canon_part', 'period', 'times_etcbc',
       'times_utf8', 'times_utf8d', 'times_POS', 'TA Heads', 'head_utf8',
       'funct_type', 'function', 'quality', 'name', 'text', 'n_times',
       'n_slots', 'lex_token', 'is_advb', 'tense', 'firstw', 'genre', 'domain',
       'gendom', 'clause', 'sentence', 'cl_rela', 'cl_type', 'cl_kind', 'verb',
       'verb_etcbc', 'verb_utf8', 'verb_text', 'verbform', 'verb_stem',
       'cl_args', 'has_objc', 'has_cmpl', 'has_subj', 'has_oc',
       'Time Position', 'cl_type2', 'cl_nsuccs', 'cl_clust50', 'cl_clust10',
       'verbtense', 'vt_order', 'PP', 'unmodified', 'modtag', 'modtag2',
       'front', 'ph_type', 'has_time', 'notes', 'main_genre', 'APPO', 'DEF',
       'ORDN', 'ØPP', 'GP', 'QUANT', 'PL', 'NUM', 'PARA', 'DEMON',
       'demon_type', 'ADJV', 'TIMEAPPO', 'SPEC', 'SFX3', 'SFX', 'DU', 'SFX1',
       'SFX2', 'ADVB', 'CARDC'],
      dtype='object')

In [3]:
df.shape

(3648, 78)

# Miscellaneous Functions

In [4]:
df[df.funct_type == 'secondary'].function.value_counts()

purposive_ext               34
regular_recurrence          18
anterior_dur_purposive      15
dist_posterior               6
anterior_limitive            5
dist_prospective             3
purposive                    2
posterior, posterior_dur     1
posterior_dur_future         1
posterior_dist               1
anterior_dur_except          1
atelic_ext, simultaneous     1
Name: function, dtype: int64

In [5]:
funct2names = {
    'purposive_ext':['purpext', 'Purposive Extent'],
    'regular_recurrence': ['regrec', 'Regular Recurrence'],
    'anterior_dur_purposive': ['antdurpurp', 'Anterior Durative Purposive'],
    'dist_posterior': ['distpost', 'Distance Posterior'],
    'anterior_limitive': ['antlimit', 'Anterior Limitive'],
    'dist_prospective': ['distprosp', 'Distance Prospective'],
    'purposive': ['purp', 'Purposive'],
    'anterior_dur_except': ['antdurex', 'Anterior Durative with "Except"'],
    'posterior_dur_future': ['postdurfut', 'Posterior Durative Future'],
    'posterior_dist': ['postdist', 'Posterior Distance']
}

# automatically show examples
for funct in funct2names:
    exdf = df[df.function == funct].sort_values(by='notes').head(10)
    print(funct)
    display(
        ts.show(exdf, extra=['notes'], spread=-1)
    )
    print('-'*50)

purposive_ext
showing 10 of 10

--------------------------------------------------
regular_recurrence
showing 10 of 10

--------------------------------------------------
anterior_dur_purposive
showing 10 of 10

--------------------------------------------------
dist_posterior
showing 6 of 6

--------------------------------------------------
anterior_limitive
showing 5 of 5

--------------------------------------------------
dist_prospective
showing 3 of 3

--------------------------------------------------
purposive
showing 2 of 2

--------------------------------------------------
anterior_dur_except
showing 1 of 1

--------------------------------------------------
posterior_dur_future
showing 1 of 1

--------------------------------------------------
posterior_dist
showing 1 of 1

--------------------------------------------------

# Difficult Cases

# Compound Time Adverbials

In [7]:
df[df.funct_type == 'compound'].function.value_counts()

begin_to_end                                 55
simultaneous + atelic_ext                    24
multi_simuls                                 18
begin_to_end_habitual                         6
simul_to_end                                  6
dur_to_end                                    5
atelic_ext + simultaneous                     4
multi_antdur                                  4
posterior + atelic_ext                        4
posterior_simul                               3
habitual + begin_to_end                       2
anterior_dur + duration                       2
multi_posterior_dur                           2
posterior_dur + begin_to_end + atelic_ext     1
begin_to_end + multi_antdur                   1
simultaneous + anterior_limitive?             1
simultaneous + dist_posterior                 1
simultaneous + posterior                      1
simultaneous + anterior                       1
anterior_dist                                 1
simultaneous + purposive_ext                  1
simul_posts                                   1
atelic_ext + habitual                         1
habitual, multi_simul                         1
distfut_ext                                   1
reg_recurr + atelic_ext                       1
simultaneous + multi_begin_to_end             1
atelic_ext + anterior + atelic_ext            1
multi_atelic_ext                              1
anterior + posterior                          1
simultaneous + anterior_dist                  1
anterior_dur + anterior                       1
simul_posterior                               1
anterior_ext                                  1
Name: function, dtype: int64

In [8]:
ts.show(
    df[
        (df.funct_type == 'compound')
        & (df.function == 'posterior + atelic_ext')
    ]
)

showing 4 of 4

In [11]:
ts.show(
    df[
        (df.function == 'anterior_ext')
    ],
extra=['notes'])

showing 1 of 1